.main-block {
  /* width: 1200px; */
  margin: 40px auto;
}
.wrapper {
  display: flex;
}
.total {
  display: block;
  width: 180px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
}
.mean {
  display: block;
  width: 180px;
  height: 50px;
  border: 1px solid black;
  margin-bottom: 10px;
  text-align: center;
}
.block-btn {
  display: flex;
  flex-direction: column;
}
.btn {
  width: 120px;
  text-transform: uppercase;
  background-color: hsl(224, 20%, 22%);
  color: #ffffff;
  border-radius: 4px;
  line-height: 3;
}
.add-btn {
  margin-bottom: 5px;
}
.add-btn:hover,
.del-btn:hover{
  transform: scale(1.1);
} 
